<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>2020년 관학&middot;연계<br>정보보안 교육&middot;훈련<br>프로그램 시범사업</h1>
                        <p class="text-muted><b>일 시 : 2020년 6월 22일(월) ~ 25일(목)<br>장 소 : 충북대학교 CyberCamp (농업생명대학 S21-4동 307호)<br>내 용 : 사이버보안 규정제도 이해 및 입문과정</b></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="/img/demo-screen-1.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
